{% extends ['gabarit_command.html.twig'] %}

{% block title %}Nouvelle commande{% endblock %}

    {% block stylesheets %}
        {{ parent()}}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
    {% endblock %}

{% block command %}
<div class="container">

    <div class="py-5 text-center">
        <h2>Créer votre commandez pour vos billets!</h2>
        <p class="lead">Commandez vos billets pour le musée du Louvre. Au delà de 25 personnes, merci de contacter le
            service client.</p>
    </div>

    <h4 class="mb-3">Détail de votre visite...</h4>

    {{ form_start(form) }}

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.date, { 'attr': {'class': 'js-datepicker'} }) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.number, { 'label': 'Nombre de participant(s)' }) }}
            </div>
        </div>
    <div class="row">
        <div class="col-sm-2">
            <label for="duration">Mi-journée</label>
            {{ form_row(form.duration, { 'label': ' ', 'attr': {'class': 'duration'} }) }}
        </div>
        <div class="col-sm-10">
            Selectionnez cette option si vous souhaitez commencer la visite à partir de 14h pour le jour concerné.
        </div>


    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            {{ form_row(form.email) }}
        </div>
    </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Suivant</button>

    {{ form_end(form) }}
    <br>
</div>


{% endblock %}

    {% block javascripts %}
        {{ parent() }}

       <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.fr.js') }}"></script>
        <script>
            $('.js-datepicker').datepicker({
                weekStart: 1,
                language: "fr",
                format: "yyyy-mm-dd",
                daysOfWeekDisabled: [2, 0],
                datesDisabled: ['2018-01-05', '2018-01-11', '2018-12-25']
            });
        </script>
    {% endblock %}




