{% extends 'gabarit_command.html.twig' %}

{% block title %}Complétez les billet(s) choisie(s)!{% endblock %}

{% block command %}


    <div class="container">
        <h1 class="checkout-header">Récapitulatif et paiement.</h1>
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th colspan="6" class="col-xs-6 active"><b>Billets</b></th>
                    </tr>
                    <tr>
                        <th scope="col-xs-3"><b>Nom</b></th>
                        <th class="col-xs-3"><b>Prénom</b></th>
                        <th class="col-xs-3 checkout-product-name"><b>Pay</b></th>
                        <th class="col-xs-3 checkout-product-name"><b>Date de naissance</b></th>
                        <th class="col-xs-3 checkout-product-name"><b>Reduction</b></th>
                        <th class="col-xs-3"><b>Tarif</b></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for ticket in command.tickets %}


                        <tr>

                            <th class="col-xs-3 checkout-product-name">{{ ticket.firstname }}</th>
                            <th class="col-xs-3">{{ ticket.lastname }}</th>
                            <th class="col-xs-3 checkout-product-name">{{ ticket.country }}</th>
                            <th class="col-xs-3 checkout-product-name">{{ ticket.birthday|date('d-m-Y') }}</th>
                            <th class="col-xs-3 checkout-product-name">{{ ticket.reduction? "oui":"non" }}</th>
                            <th class="col-xs-3">€ {{ ticket.price }}</th>
                        </tr>
                    {% endfor %}

                    <tr>
                        <th colspan="5" class="col-xs-6 checkout-product-name">Quantité total de billet</th>
                        <td class="col-xs-3">{{ command.number }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="5" class="col-xs-6 table-info">Total</th>
                        <td class="col-xs-3 table-info checkout-total">€ {{ command.price }}</td>
                    </tr>
                    </tfoot>
                </table>
                <input type="checkbox" name="cgv" id="cgv" unchecked onclick="if(this.checked){check()}">En cochant
                cette case, vous acceptez les conditions de vente disponible en <a href="{{ asset('doc/CGV.pdf') }}">cliquant
                    içi</a><br><br>
            </div>
            <div class="col-xs-4 col-sm-4">
                {{ include('command/step3_paymentForm.html.twig') }}
                <br>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="{{ asset('js/jquery.payment.min.js') }}"></script>

    <script type="text/javascript">
        Stripe.setPublishableKey('{{ stripe_public_key }}');

        $(function () {
            var $form = $('.js-checkout-form');

            $form.find('.js-cc-number').payment('formatCardNumber');
            $form.find('.js-cc-exp').payment('formatCardExpiry');
            $form.find('.js-cc-cvc').payment('formatCardCVC');

            $form.submit(function (event) {
                event.preventDefault();

                // Disable the submit button to prevent repeated clicks:
                $form.find('.js-submit-button').prop('disabled', true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);
            });
        });

        function stripeResponseHandler(status, response) {
            // Grab the form:
            var $form = $('.js-checkout-form');

            if (response.error) { // Problem!

                // Show the errors on the form:
                $form.find('.js-checkout-error')
                    .text(response.error.message)
                    .removeClass('hidden');
                $form.find('.js-submit-button').prop('disabled', false); // Re-enable submission

            } else { // Token was created!
                $form.find('.js-checkout-error')
                    .addClass('hidden');

                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="stripeToken">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        }


        function check() {
            var test;
            document.getElementById('cgv').value = test;
            if (test == true) {
                document.getElementById('payment').disabled = true;
            } else {
                document.getElementById('payment').disabled = false;
            }
        }


    </script>
{% endblock %}