{% extends 'gabarit_command.html.twig' %}

{% block title %}Complétez les billet(s) choisie(s)!{% endblock %}

{% block command %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/commandProcess.css') }}">


    <div class="container">

        <div class="py-5 text-center">
            <h2>Créer votre commandez pour vos billets!</h2>
            <p class="lead">Commandez vos billets pour le musée du Louvre. Au delà de 25 personnes, merci de contacter le
                service client.</p>
        </div>

        <h4 class="mb-3">Détail de votre visite...</h4>
        <hr>
        {{ form_start(form) }}

        {% for ticket in form.tickets %}
            <h4>Billet n°{{ loop.index }}</h4>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(ticket.lastname, { 'label': 'Nom de famille' }) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(ticket.firstname, { 'label': 'Prénom' }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <label for="reduction">Réduction</label>
                    {{ form_row(ticket.reduction, { 'label': ' ', 'attr': {'class': 'reduction'} }) }}
                </div>
                <div class="col-sm-11">
                    Si vous avez une réduction, merci de cocher cette case.
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(ticket.country, { 'label': 'Pay' }) }}
                </div>
                <div class="col-sm-9">
                    {{ form_row(ticket.birthday, { 'label': 'Date de naissance' }) }}
                </div>
            </div>

            <hr class="mt-4">

        {% endfor %}

        <input class="btn btn-primary" type="submit" value="Saisir vos billets">
    {{ form_end(form) }}
        <br>
    </div>

{% endblock %}
