{% extends 'gabarit.html.twig' %}

{% block title %}Complétez les billet(s) choisie(s)!{% endblock %}

{% block body %}
    <div class="container mt-5"><h1>5 étapes facile pour votre commande!</h1></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <a href="{{ path('home') }}"><img src="{{ asset('images/step/step1.png') }}" alt="Italian Trulli"></a>Home
            </div>
            <div class="col-sm-1">
                <a href="{{ path('command_new') }}"><img src="{{ asset('images/step/step2.png') }}" alt="Italian Trulli">Choix de la date</a>
            </div>
            <div class="col-sm-1">
                <a href="#"><img src="{{ asset('images/step/step3.png') }}" alt="Italian Trulli">Remplissez les tickets</a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container mt-4">
        <h1>Billet</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Saisir vos billets">
            {{ form_end(form) }}
    </div>
{% endblock %}
